<%= form_for(@buy_and_sell) do |f| %>
  <% if @buy_and_sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buy_and_sell.errors.count, "error") %> prohibited this buy_and_sell from being saved:</h2>

      <ul>
      <% @buy_and_sell.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
