<h1>Listing buy_and_sells</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buy_and_sells.each do |buy_and_sell| %>
  <tr>
    <td><%= link_to 'Show', buy_and_sell %></td>
    <td><%= link_to 'Edit', edit_buy_and_sell_path(buy_and_sell) %></td>
    <td><%= link_to 'Destroy', buy_and_sell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buy and sell', new_buy_and_sell_path %>
