<% html = "" %>
<% @post.comment.reverse_each do |comment| %>
<% html += %Q|<span class="badge">#{t(:comment)}#{comment.number}</span> #{comment_author(comment)} #{comment.postedDate}|
html += %Q|<p>#{raw(comment.body)}</p>| %>
<% end %>
$('#modal-body_<%=@post.class%>_<%=@post.id%>').html("<%= escape_javascript(html.html_safe) %>")