@font-face {
    font: {
       family: 'NanumBrush';
       weight: 'normal';
       style: 'normal';
    }
    src: local('NanumBrush');
    src: asset-url('NanumBrush.eot', font);
    src: asset-url('NanumBrush.eot', font) format('embedded-opentype'),
         asset-url('NanumBrush.ttf', font) format('truetype'),
         asset-url('NanumBrush.otf', font) format('opentype')
}

@font-face {
    font: {
       family: 'NanumGothicBold';
       weight: 'normal';
       style: 'normal';
    }
    src: local('NanumGothicBold');
    src: asset-url('NanumGothicBold.eot', font);
    src: asset-url('NanumGothicBold.eot', font) format('embedded-opentype'),
         asset-url('NanumGothicBold.ttf', font) format('truetype'),
         asset-url('NanumGothicBold.otf', font) format('opentype')
}

@font-face {
    font: {
       family: 'NanumGothicExtraBold';
       weight: 'normal';
       style: 'normal';
    }
    src: local('NanumGothicExtraBold');
    src: asset-url('NanumGothicExtraBold.eot', font);
    src: asset-url('NanumGothicExtraBold.eot', font) format('embedded-opentype'),
         asset-url('NanumGothicExtraBold.ttf', font) format('truetype'),
         asset-url('NanumGothicExtraBold.otf', font) format('opentype')
}