<h1>Listing mypages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mypages.each do |mypage| %>
  <tr>
    <td><%= link_to 'Show', mypage %></td>
    <td><%= link_to 'Edit', edit_mypage_path(mypage) %></td>
    <td><%= link_to 'Destroy', mypage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mypage', new_mypage_path %>
