<style>
.welcome {
		text-decoration: none;
		padding: 20px;
		color: #000;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: solid 1px #20538D;
		box-shadow: 5px 5px 5px #888;
		-moz-box-shadow: 5px 5px 5px #888;
		-webkit-box-shadow: 5px 5px 5px #888;
		-webkit-transition-duration: 0.2s;
		-moz-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
		font-family: 'NanumGothicBold';	
		filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#41A317'); /* IE6 & IE7 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#41A317')"; /* IE8 */
		behavior: url('ie-css3.htc');
	}

</style>
<div class="welcome">
	OKBRISBANE 방문을 환영합니다.
	<br/>
	<br/>
	가까운 시일내에 새로운 내용으로  찾아뵐 예정이오니
	<br/>
	<br/>
	조금만 기다려 주시기 바랍니다.
	<br/>
	<br/>
	We are coming back shortly!
</div>
