<% @attachments.each do |attachment| %>
<div style="position: relative; float: left;margin-left: 5px">
	<%= image_tag("common/Icon-Document03-Blue.png", :size => "50x50", :title => "#{attachment.avatar_file_name}") %>
	<div style="position: absolute; top: 0px; left:95%;">
		<%= link_to(t('x'), _okboard_link_delete_attachment_with_id_timestamp(@okpage, attachment.id, @timestamp), :class => "delete_x", :remote => true, method: :delete, data: { confirm: t('confirm_delete') }) %> 
	</div>
</div>
<% end %>