<div class="row-fluid" id="okboard_sponsor_links_bottom">
	<div class="span3">
		<%= single_body_banner(2) %>
	</div>
	<div class="span3">
		<%= single_body_banner(3) %>
	</div>
	<div class="span3">
		<%= single_body_banner(4) %>
	</div>
	<div class="span3">
		<%= single_body_banner(9) %>
	</div>
</div>
