<% if @prev_post.present? %>
<a href="<%=Okboard.okboard_link_with_id(@okpage,@prev_post.id,@post_search.id)%>", class="btn btn-mini btn-primary"><i class="icon-step-backward icon-white icon-large"></i></a>
<a href="<%=Okboard.okboard_link_with_id(@okpage,@prev_post.id,@post_search.id)%>"><span class="badge"><%=@prev_post.id%></span> <%= _truncate_with_length(@prev_post.subject, 35) %></a>
<% else %>

<% end %>
