<div style="position: relative; float: left; width: 750px;" id="board_for_<%= @okpage %>">
	<div class="okboard_top">
		<div class="page-header">
		<h1>
			<%= t(Style.page(@okpage))%>
		</h1>
		<p><%= t(:okpage_top_description) %></p>
		</div>
	</div>
	<div class="okboard_view_content">
	<div class="alert alert-error">
		<%= t(:this_post_has_been_deleted_by_admin)%>
	</div>
	</div>
</div>
