<div class="row-fluid" id="okboards">
	<div class="span3">
	<%= _left_side_menu %>
	</div>
	<div class="span9">
		<div class="row-fluid">
			<%= single_body_banner(5) %>
		</div>
			<%= render :partial => "okboards/#{Style.page(@okpage)}/write" %>
	</div>
</div>
