<div class="ok_page" id="okboard_for_<%= @okpage %>">
	<div class="ok_page_top">
		<%= image_tag("#{I18n.locale}/#{Style.page(@okpage)}/ok_logo.gif") %>
	</div>
	<div id="_main">
		<%= image_tag("#{I18n.locale}/common/img_sendmail_ok.gif")%>
	</div>
</div>
