/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_tree '../../../vendor/assets/stylesheets/jquery-ui'
 *= require bootstrap
 */



a img { border: 0; }

#page_body {
	overflow: none;
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
	position: relative;
}

#header {
	overflow: none;
	width: 1000px;
	height: 330px;
    margin-left: auto;
    margin-right: auto;
	position: relative;
}

div.footer_links {
	position: fixed;
	bottom:0px;
	right:0px;
	width: 140px;
	line-height: 30px;
	height: 130px;
	background-color: #ADD8E6;
	padding:5px;
    box-shadow: 0px 0px 0px 1px rgb(221, 221, 221);
}

div.footer_links .footer_text {
	font-family: 'NanumGothicExtraBold';
	font-size: 17px;
	color: #4E4E4E;
}

.developer {
	font-size:8px;
	color: #4E4E4E;
}
/* Flash */

.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 10 auto 15px;
  color: #000000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 15px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.flash .message p {
  margin: 0px;
}
.flash .error, .flash .error-list {
  border: 1px solid #993624;
  background: #cc4831 url("messages/error.png") no-repeat 10px center;
}
.flash .alert {
  border: 1px solid #bb9004;
  background: #f9c006 url("messages/warning.png") no-repeat 10px center;
}
.flash .notice {
  color: #28485e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #8a9daa;
  background: #b8d1e2 url("messages/notice.png") no-repeat 10px center;
}
.flash .error-list {
  text-align: left;
}
.flash .error-list h2 {
  font-size: 16px;
  text-align: center;
}
.flash .error-list ul {
  padding-left: 22px;
  line-height: 18px;
  list-style-type: square;
  margin-bottom: 15px;
}

/* Global */

.form div.field_with_errors label.label {
  display: inline;
  color: red;
  border: 2px solid red;
}


.fl {
	float: left;
}
.fr {
	float: right;
}

.small {
	font-size: 11px;
	font-family: inherit;
	color: #666666;
	line-height: 15px;
}
.small_n {
	font-size: 11px;
	font-family: verdana;
	color: #888888;
	line-height: 16px;
}
.small01 {
	font-size: 11px;
	font-family: inherit;
	color: #888888;
	line-height: 16px;
}
.small_m01 {
	font-size: 11px;
	font-family: inherit;
	color: #666666;
	line-height: 13px;
}

.clear {
    clear: both;
    display: block;
    float: none;
    font-size: 0 !important;
    height: 0;
    line-height: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
}


select {
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    margin: 0px;
}

textarea {
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 3px;
}

.textarea_content {
  font-size: 14px;
  font-family: 'NanumGothic';
  background-color: #B7E2F0;
}

#page_section_left {
  position: relative;
  width: 220px;
  margin: 3px;
  float: left;
  margin-bottom:30px;
}


#page_section_left img.logo {
  width: 220px;
  height: 130px;
}

#page_section_right {
  width: 750px;
  float:right;
  margin-bottom:30px;
}

#page_section_right #content_head {
  position: relative;
  float:left;
}

#page_section_right #content_body {
  position: relative;
  float:left;
}

#page_section_left #menu {
  position:relative;
  float:left;
  background-color:#fff;
  margin:1px;
  width:99.99%;
  height:200px;
}
  
#page_section_left .items {
  position:relative;
  margin-top: 0px;
}

#page_section_left .item {
  height: 25px;
  color: #c0c0c0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#page_section_left .item .menu-item {
  font-size: 14px;
  height:25px;
  line-height: 0px;
  font-weight: bold;
  text-align: center;
  padding: 1px;
  color: #ffffff;
}

#page_section_left .item .menu-item:hover {
  background-color: #41A317;
  font-size: 16px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* 
 * CSS3
 */
.button-link_ok {
    text-decoration: none;
    padding: 1px 1px;
    background: #642c78;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    behavior: url(ie-css3.htc);
}

.button-link_ok:hover {
    background: #320046;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link_ok:active, .button-link_ok:visited {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #642c78;
    border: solid 1px #203E5F;
}

.button-link_naver {
    text-decoration: none;
    padding: 1px 1px;
    background: #41A317;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    behavior: url(ie-css3.htc);
}

.button-link_naver:hover {
    background: #0F7100;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link_naver:active, .button-link_naver:visited {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #41A317;
    border: solid 1px #203E5F;
}

.button-link_blue {
    text-decoration: none;
    padding: 1px 1px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    behavior: url(ie-css3.htc);
}

.button-link_blue:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link_blue:active, .button-link_blue:visited {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #4479BA;
    border: solid 1px #203E5F;
}

.image_submit_ok:hover {
	opacity:0.7;filter:alpha(opacity=70);
    border: solid 1px #2A4E77;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
