/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
  font-family: "gulim";
  src: url("fonts/gulim.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBrush";
  src: url("fonts/NanumBrush.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothic";
  src: url("fonts/NanumGothic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothicBold";
  src: url("fonts/NanumGothicBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothicExtraBold";
  src: url("fonts/NanumGothicExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
}

html {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	background: #F2F2F2;
}

body {
	overflow: auto;
	min-height: 100%;
	padding: 2px;
	/*border: 1px solid white;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	Safari 4 does not support an inset shadow
	 -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,.5);
	 Chrome 5 does, Safari 4 will ignore this declaration/
	 -webkit-box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
	 -moz-box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
	box-shadow: inset 5px 5px 25px rgba(0,0,0,.1);*/
	font-size: 12px;
	font-family: 'NanumGothic'; 
	color: #333;
	position: relative;
	/* background-color: #ffffff; */
}

#header {
	height: 300px;
	width: 100%;
	position: relative;
	left: 0px;
	top: 10px;
}

#main {
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
}
#footer {
	padding-bottom: 20px;
}

#footer img {
	height: 110px;
}

/* Flash */

.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 10 auto 15px;
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
}
.flash .message p {
  margin: 0px;
}
.flash .error, .flash .error-list {
  border: 1px solid #993624;
  background: #cc4831 url("messages/error.png") no-repeat 10px center;
}
.flash .alert {
  border: 1px solid #bb9004;
  background: #f9c006 url("messages/warning.png") no-repeat 10px center;
}
.flash .notice {
  color: #28485e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #8a9daa;
  background: #b8d1e2 url("messages/notice.png") no-repeat 10px center;
}
.flash .error-list {
  text-align: left;
}
.flash .error-list h2 {
  font-size: 16px;
  text-align: center;
}
.flash .error-list ul {
  padding-left: 22px;
  line-height: 18px;
  list-style-type: square;
  margin-bottom: 15px;
}

/* Global */

.fl {
	float: left;
}
.fr {
	float: right;
}

.small {
	font-size: 11px;
	font-family: inherit;
	color: #666666;
	line-height: 15px;
}
.small_n {
	font-size: 11px;
	font-family: verdana;
	color: #888888;
	line-height: 16px;
}
.small01 {
	font-size: 11px;
	font-family: inherit;
	color: #888888;
	line-height: 16px;
}
.small_m01 {
	font-size: 11px;
	font-family: inherit;
	color: #666666;
	line-height: 13px;
}
.clear {
    clear: both;
    display: block;
    float: none;
    font-size: 0 !important;
    height: 0;
    line-height: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;  
  margin-bottom: 10px;
}

.table th {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.table th.first {
  width: 50px;
  text-align: center;
}

.table th.last {
  width: 50px;
  text-align: center;
}

.table .checkbox {
  margin-left: 10px;
}

.table td.first {
  text-align: right;
  width: 50px;
}

.table td {
  padding: 1px;
  text-align: center;
}

.table td.last {
  text-align: center;
}

select {
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    margin: 0px;
}

textarea {
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 3px;
}

/*
a {
	text-decoration: none
	color: #ffffff;
}

a:link, a:visited { color: #642c78 }
a:hover, a:active { color: #41A317 }
*/

#page_section_left {
  position: relative;
  width: 220px;
  margin: 3px;
  float: left;
}


#page_section_left img.logo {
  width: 220px;
  height: 130px;
}

#page_section_right {
  width: 750px;
  float:right;
}

#page_section_right #content_head {
  position: relative;
  float:left;
}

#page_section_right #content_body {
  position: relative;
  float:left;
}

#page_section_left #menu {
  position:relative;
  float:left;
  width: 100%;
  background: url("common/rows_tpl_type11all.gif");
  background-repeat:repeat-x;
}
  
#page_section_left .items {
  position:relative;
  margin-top: 0px;
  height: 190px;
  border: 1px solid #c0c0c0;
}

#page_section_left .item {
  height: 25px;
  color: #c0c0c0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#page_section_left .item .menu-item {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 1px;
  color: #ffffff;
}

#page_section_left .item .menu-item:hover {
  background: #41A317;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* 
 * CSS3
 */
.button-link_ok {
    text-decoration: none;
    padding: 1px 1px;
    background: #642c78;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-link_ok:hover {
    background: #320046;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link_ok:active, .button-link_ok:visited {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #642c78;
    border: solid 1px #203E5F;
}

.button-link_naver {
    text-decoration: none;
    padding: 1px 1px;
    background: #41A317;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-link_naver:hover {
    background: #0F7100;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link_naver:active, .button-link_naver:visited {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #41A317;
    border: solid 1px #203E5F;
}

.button-link_blue {
    text-decoration: none;
    padding: 1px 1px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-link_blue:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link_blue:active, .button-link_blue:visited {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #4479BA;
    border: solid 1px #203E5F;
}