/* Header */
#banner_p_home_s_header_a_top_left {
	float: left;
	width: 250px;
	margin-left: 15px;
}

#banner_p_home_s_header_a_top_right {
	width: 700px;
	height: 110px;
	position: relative;
	margin-left: 260px;
	top: 30px;
}

/* Home */
#banner_p_home_s_main_content_a_top_left {
	width: 640px;
	height: 500px;
	top: 0px;
	float: left; /* important */
	margin:0px;
}

#featured {
	border:0px solid #c0c0c0;
	right:0px;
	width: 50px;
	font-size: 80px;
	color: #9933FF;
}

#banner_p_home_s_main_content_a_top_right {
	position: absolute;
	float: left;
	margin-top: 0px;
	right: 20px;
	border: 1px solid #c0c0c0;
	width: 300px;
	height: 200px;
}

#banner_home_secondary_content_left {
	position: relative;
	float: left;
	margin-top: 10px;
	padding: 10px;
	width: 640px;
	height: 300px;
}



#home-top-banners div.description {
	position: relative; /* absolute position (so we can position it where we want)*/
	top: 0px; /* position will be on bottom */
	left: 0px;
	width: 100px;
	/* styling bellow */
	background-color: black;
	opacity: 0.6; /* transparency */
	filter: alpha(opacity=60); /* IE transparency */
}

#home-top-banner p.description_content {
	padding: 10px;
	margin: 0px;
	font-family: 'tahoma';
	font-size: 18px;
	font-weight: bold;
	color: white;
}

#home-top-banner img {
	width: 650px;
	height: 450px;
	left: 10px;
}

#home-top-banner .abutton {
	position: absolute; /* absolute position (so we can position it where we want)*/
	top: 5px; /* position will be on bottom */
	right: 10px;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 70px;
	height: 25px;
	font-size: 15px;
	color: white;
	opacity: 0.9; /* transparency */
	filter: alpha(opacity=90); /* IE transparency */
}

#home-top-banner a.abutton:link, a.abutton:visited, a.abutton:hover, a.abutton:active {
	color: #222;
	display: block;
	float: left;
	margin: 0 1px 0 0;
	background-color: #eee;
	border: 1px solid #bfbfbf;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: bold;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
}



#top-right-banner  div.description {
	position: absolute; /* absolute position (so we can position it where we want)*/
	top: 0px; /* position will be on bottom */
	left: 0px;
	width: 100%;
	/* styling bellow */
	background-color: white;
	opacity: 0.6; /* transparency */
	filter: alpha(opacity=60); /* IE transparency */
}

#top-right-banner  p.description_content {
	font-size: 25px;
	font-weight: bold;
	color: balck;
	font-style: italic;
}

/* Sing in page */

#banner_signin_main_content_left img {
  float: left;
  padding: 0px;
  margin-top: 10px;
  width: 200px;
}

#banner_signin_main_content_right {
	background: transparent;
	float: left;
	position: absolute;
	width: 400px;
	height: 500px;
	margin-left: 330px;
	top: 0px;
	border: 1px solid #bfbfbf;
}
