@font-face {
    font-family: 'NanumBrush';
    font-weight: 'normal';
    font-style: 'normal';
    src: local('NanumBrush');
    src: url('fonts/NanumBrush.eot');
    src: url('fonts/NanumBrush.eot') format('embedded-opentype'),
          url('fonts/NanumBrush.ttf') format('truetype'),
          url('fonts/NanumBrush.otf') format('opentype');
}

@font-face {
    font-family: 'NanumGothicBold';
    font-weight: 'bold';
    font-style: 'bold';
    src: local('NanumGothicBold');
    src: url('fonts/NanumGothicBold.eot');
    src: url('fonts/NanumGothicBold.eot') format('embedded-opentype'),
          url('fonts/NanumGothicBold.ttf') format('truetype'),
          url('fonts/NanumGothicBold.otf') format('opentype');
}

@font-face {
    font-family: 'NanumGothicExtraBold';
    font-weight: 'extraBold';
    font-style: 'extraBold';
    src: local('NanumGothicExtraBold');
    src: url('fonts/NanumGothicExtraBold.eot');
    src: url('fonts/NanumGothicExtraBold.eot') format('embedded-opentype'),
          url('fonts/NanumGothicExtraBold.ttf') format('truetype'),
          url('fonts/NanumGothicExtraBold.otf') format('opentype');
}