// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  position: relative;
  height: 1750px; 
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

#first_section {
  position: relative;
  width: 100%;
  height: 800px; 
}

#first_section #first_section_left {
  position: relative;
  width: 650px;
  height: 500px;
  float: left;
}

#first_section #first_section_right {
  position: relative;
  height: 500px;
  float: right;
}

#top_feed_list_p_job {
  position: relative;
  top: 10px;
  width:100%;
  height: 260px;
  margin-left: auto;
  margin-right: 0;
}

#top_feed_list_p_buy_and_sell {
  position: relative;
  width:100%;
  top: 20px;
  height: 260px;
  margin-left: auto;
  margin-right: 0;
}

#second_section {
  position: relative;
  float:left;
  left: 0px;
  width: 100%;
  //height: 460px;
  top: 10px;
  margin-top: 40px;
}

#second_section #section_left, #section_center, #section_right {
  position: relative;
  width: 300px;
  //height: 310px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#second_section_bar {
  position:relative;background:#41A317;width:100%;height:5px;
}

//#second_section #top_feed_list_p_estate, #top_feed_list_p_business, #top_feed_list_p_motor_vehicle {
//  position: relative;
//  top: 5px;
//  width: 100%;
//  height: 430px;
//}

#third_section {
  position: relative;
  float:left;
  left: 0px;
  width: 100%;
  top: 20px;
}

#third_section_bar {
  position:relative;background:#642c78;width:100%;height:5px;
}

#third_section #thrid_section_left {
  position: relative;
  width: 300px;
  height: 310px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#third_section #top_feed_list_p_estate {
    position: relative;
  top: 5px;
  width: 100%;
  height: 430px;
}

#third_section #thrid_section_right {
  position: relative;
  width: 600px;
  height: 310px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;  
}


// Styles for feed box

#feed_body {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 20px;
}

#feed_head_left {
  position: relative;
  font-family: 'NanumGothicExtraBold';   
  color: #ffffff;
  width:  100px; 
  font-size: 18px;
  text-align: center;
}

#feed_head_right {
  position: absolute;
  background: #ffffff;
  width:  190px; 
  height: 38px;
  top: 0px;
  right: 0px;
  left: 110px;
  text-align: right;
  color: #666666;
}

p.feed_title:hover {
  padding-left: 5px;
  font-size: x-large;
  -webkit-transition: all 0.5s ease-in-out;
}