
a img { border: 0; }

img {
	-ms-interpolation-mode: bicubic;
}

.image-resize20_20 {
	max-width: 20px;
	max-height: 20px;
}

.image-resize140_120 {
	max-width: 140px;
	max-height: 120px;
}


.image-resize200_150 {
	max-width: 200px;
	max-height: 150px;
}

* html body .image-resize20_20 {
	width: expression(this.width >= this.height ? "20px" : "auto");
	height: expression(this.width <= this.height ? "20px" : "auto");
}

* html body .image-resize140_120 {
	width: expression(this.width >= this.height ? "140px" : "auto");
	height: expression(this.width <= this.height ? "120px" : "auto");
}

* html body .image-resize300_200 {
	width: expression(this.width >= this.height ? "200px" : "auto");
	height: expression(this.width <= this.height ? "150px" : "auto");
}