
a img { border: 0; }

img {
	-ms-interpolation-mode: bicubic;
}

.image-resize20_20 {
	max-width: 20px;
	max-height: 20px;
}

* html body .image-resize20_20 {
	width: expression(this.width >= this.height ? "20px" : "auto");
	height: expression(this.width <= this.height ? "20px" : "auto");
}

.image-resize30_30 {
	max-width: 30px;
	max-height: 30px;
}

* html body .image-resize30_30 {
	width: expression(this.width >= this.height ? "30px" : "auto");
	height: expression(this.width <= this.height ? "30px" : "auto");
}

.image-resize50_30 {
	max-width: 50px;
	max-height: 30px;
}

* html body .image-resize50_30 {
	width: expression(this.width >= this.height ? "50px" : "auto");
	height: expression(this.width <= this.height ? "30px" : "auto");
}


.image-resize50_50 {
	max-width: 50px;
	max-height: 50px;
}

* html body .image-resize50_50 {
	width: expression(this.width >= this.height ? "50px" : "auto");
	height: expression(this.width <= this.height ? "50px" : "auto");
}

.image-resize64_64 {
	max-width: 64px;
	max-height: 64px;
}

* html body .image-resize64_64 {
	width: expression(this.width >= this.height ? "64px" : "auto");
	height: expression(this.width <= this.height ? "64px" : "auto");
}

.image-resize80_50 {
	max-width: 80px;
	max-height: 50px;
}

* html body .image-resize80_50 {
	width: expression(this.width >= this.height ? "80px" : "auto");
	height: expression(this.width <= this.height ? "50px" : "auto");
}

.image-resize100_80 {
	max-width: 100px;
	max-height: 80px;
}

* html body .image-resize100_80 {
	width: expression(this.width >= this.height ? "100px" : "auto");
	height: expression(this.width <= this.height ? "80px" : "auto");
}

.image-resize120_100 {
	max-width: 120px;
	max-height: 100px;
}

* html body .image-resize120_100 {
	width: expression(this.width >= this.height ? "120px" : "auto");
	height: expression(this.width <= this.height ? "100px" : "auto");
}

.image-resize140_120 {
	max-width: 140px;
	max-height: 120px;
}

* html body .image-resize140_120 {
	width: expression(this.width >= this.height ? "140px" : "auto");
	height: expression(this.width <= this.height ? "120px" : "auto");
}

.image-resize210_180 {
	max-width: 210px;
	max-height: 180px;
}

* html body .image-resize210_180 {
	width: expression(this.width >= this.height ? "210px" : "auto");
	height: expression(this.width <= this.height ? "180px" : "auto");
}

.image-resize300_200 {
	max-width: 300px;
	max-height: 200px;
}

* html body .image-resize300_200 {
	width: expression(this.width >= this.height ? "300px" : "auto");
	height: expression(this.width <= this.height ? "200px" : "auto");
}

.image-resize200_150 {
	max-width: 200px;
	max-height: 150px;
}

* html body .image-resize200_150 {
	width: expression(this.width >= this.height ? "200px" : "auto");
	height: expression(this.width <= this.height ? "150px" : "auto");
}

.image-resize115_100 {
	max-width: 115px;
	max-height: 100px;
}

* html body .image-resize115_100 {
	width: expression(this.width >= this.height ? "115px" : "auto");
	height: expression(this.width <= this.height ? "100px" : "auto");
}

.image-resize360_270 {
	max-width: 360px;
	max-height: 270px;
}

* html body .image-resize360_270 {
	width: expression(this.width >= this.height ? "360px" : "auto");
	height: expression(this.width <= this.height ? "270px" : "auto");
}


