// Place all the styles related to the Job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#usermanagement {
  //height: 1100px;
  //background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

a:link.non_style_link, a:visited.non_style_link {
  color:#000000;
  font-style:normal;
  text-decoration:none;
}

#_title {
  position:relative;
}

img.title_text{  
  position:absolute;
  top: 40px;
  left: 10px;
}

.stitle {
  position:relative;
  float:left;
  font-size:16px;
  color:#376ade;
  font-weight:bold;
  margin:5px;
}

.stitle_body {
  position:relative;
  float:left;
  margin:10px;
  color: #0055FF;
  font-size: 14px;
  border: 2px solid #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  padding: 5px;
}

.signup_form {
  position:relative;
  float:left;
  maring-top: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.termofservice {
  padding: 10px;
  font-weight: bold;
}

#usermanagement #menu img {
  float: right;
  width:200px;
}

#usermanagement img.title_text{  
    position:absolute;
    top: 40px;
    left: 10px;
}

#usermanagement #signin {
  float: left;
  width: 300px;
}

.forgot_password {
  float: left;
  margin-left: 15px;  
}

#usermanagement #signup {
  float: left;
  position:relative;
  width: 100%;
}

.devise_error_explanation {
  padding: 2px;
}

.devise_error {
  color: block;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  background: #f9c006 url("messages/warning.png") no-repeat 10px center;
}
