// Place all the styles related to the okboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#okboards {
  height: 100%;
  //background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.bed_bath_garage {
  font-size: 14px;
  font-weight: bold;
}

#okboard_let_menu {
  position:relative;
  float:left;
  width: 100%;
  margin: 20px 0;
  background:#e0e0e0;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  //background: -moz-linear-gradient(top, white 20%, #8b0 80%);
  //background: -webkit-gradient(linear, left top, left bottom, from(#990), to(#066));
}

ul.okboard_left_menu_items {
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
  float:left;
}

li.okboard_left_menu_item {
  color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-left:0px;
  margin-top:5px;
}

a.okboard_left_menu_link:hover {
  background: #41A317;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

a.okboard_left_menu_link {
  margin-left: 10px;  
}

a:link.okboard_left_menu_link, a:visited.okboard_left_menu_link {
  line-height: 0px;
  color:#000;
  font-style:normal;
  text-decoration:none;
}

.okboard_left_fixed_banners {

}

.okboard_top {
  position: relative;
  float: left;
  width: 100%;
  height: 120px;
}

.okboard_title {
  position: relative;
  float: left;
  top: 0px;
  font-family: 'NanumGothicExtraBold';   
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  width: 200px;
  background:#41A317;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.okboard_title_image {
  position: absolute;
  width:100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.okboard_image_list {
  position: relative;
  float: left;
}

.okboard_sponsor_links {
  position: relative;
  float: left;
}

.okboard_notice {
  position: relative;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  color: #0055FF;
  font-size: 14px;
  border: 2px solid #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  padding: 5px;
}

.okboard_notice:hover {
  background: #0055FF;
  color: #fff;
}

.okboard_background {
  position: absolute;
  top: 0px;
  left: 220px;
  z-index: 0;
}

.okboard_write_new {
  float: right;
}

.okboard_subject {
  font-weight: bold;
}

.okboard_image_gallery {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

// View
#okboard_view_table {
  border: 2px solid #c0c0c0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
  
.okboard_view_content {
  position: relative;
  float: left;
  width: 100%;
}

.okboard_view_sns {
  position: relative;
  float: left;
  height: 60px;
  width:100%;
}

.okboard_view_controll {
  position: relative;
  width: 100%;
  height: 30px;
}

.okboard_view_controll #okboard_likes {
  position: relative;
  float:left;
}

.okboard_view_controll #okboard_quick_links {
  position: relative;
  float:right;
}

.page_control {
  position: relative;
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height:30px;
}

.page_control .to_prev {
  float:left;
  left:0px;
  margin-left: 5px;
}

.page_control .to_next {
  float:right;
  right:0px;
  margin-right: 5px;
}


.okboard_view_list_body {
  height: 25px;
}

tr.okboard_view_list_body {
  //background: #F2F2F2;
  color: #000;
}

#okboard_view_table .item {
    background: #b2b2b2;
      text-align:center;
}

#okboard_view_table .body {
    background: #FCFCFC;
}

.okboard_description {
}

.okboard_thumbnail {
  position: relative;
  float: left;
  margin-right: 10px;
  z-index: auto;
  width: 140px;
  height: 230px;
}

.okboard_thumbnail .image_view {
  position: absolute;
  bottom:0px;
  left:0px;
}
.okboard_thumbnail_view {
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 30px;
  right:0px;
}

.okboard_thumbnail_view:hover span {
  visibility: visible;
  top: 0%; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
  left: -50%;/*position where enlarged image should offset horizontally */
}

.okboard_thumbnail_view span {
  position: absolute;
  background-color: #e5e5e5;
  padding: 5px;
  border: 1px solid #666;
  visibility: hidden;
  color: black;
  text-decoration: none;
  z-index: 1;
}

.okboard_thumbnail_view span img {
  border-width: 0px; 
}

.okboard_filter {
  position: relative;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width:730px;
  -moz-box-shadow: 2px 1px 2px #d1d1d1;
  -webkit-box-shadow: 2px 1px 2px #d1d1d1;
  box-shadow: 2px 1px 2px #d1d1d1;
  border: 2px solid #e0e0e0;
  margin: 5px;
  background: none repeat scroll 0% 0% rgb(61, 186, 186);
}


.okboard_filter .search {
  position:absolute;
  bottom:-15px;
  right:0px;
}

.okboard_filter .item {
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}

.okboard_filter .itemgroup {
  position: relative;
  float: left;
  width:100%;
}


.okboard_filter img {
  bottom: 0px;
  float: right;
}


#okboard_list {
  position: relative;
  margin: auto;
  width: 100%;
  float:left;
}

.okboard_list_body {
  text-align:center;
  height: 25px;
}

.okboard_list_body:hover {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
}

.okboard_list_view:hover span {
  visibility: visible;
}

.okboard_list_view span {
  top: -100px;
  position: absolute;
  background-color: #e5e5e5;
  padding: 5px;
  border: 1px solid #666;
  visibility: hidden;
  color: black;
  text-decoration: none;
  z-index: 1;
  width: 300px;
}


#okboard_list_body_more {
  border:black;
}

#okboard_list_body_more_loading {
  display: none; 
  margin-left:auto;
  margin-right:auto;
  width:30px;
}

div.more {
  margin-left:auto;
  margin-right:20px;
  float: right;
  margin-top: 10px;
}

// Effect
.pagination {
    margin: 6px 0px 0px;
    float: right;
    list-style: none outside none;
}

.pagination li {
    float: left;
    margin: 0px 1px;
}

.pagination li a {
    display: block;
    width: 13px;
    height: 0px;
    padding-top: 13px;
    background-image: url("common/pagination.png");
    background-position: 0px 0px;
    float: left;
    overflow: hidden;
}

.pagination li.current a, .pagination li.current a:hover { background-position: 0 -13px }

.pagination li a:hover { background-position: 0 -26px }

a.prev {
  position: absolute;
  left: 10px;
  top: 50%;
  font-family: 'NanumGothicExtraBold';
  font-weight: bold;
  font-size: 50px;
  margin-right: 5px;
  background: #000;
  color: #fff;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

a.prev:link, a.prev:visited { color: #fff; text-decoration: none }
a.prev:hover, a.prev:active { color: #fff; text-decoration: none }
a.next:link, a.next:visited { color: #fff; text-decoration: none }
a.next:hover, a.next:active { color: #fff; text-decoration: none }
a.next {
  position: absolute;
  right: 10px;
  top: 50%;
  font-family: 'NanumGothicExtraBold';
  font-weight: bold;
  font-size: 50px;
  margin-right: 5px;
  background: #000;
  color: #fff;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

div.caption {
  z-index: 500;
  position: absolute;
  bottom: 5px;
  left: 0px;
  height: 50px;
  width: 100%;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
  line-height: 20px;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-top: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

// Form
.author {
  position:relative;
  float: right;
  margin-bottom: 10px;
}

.delete_x {
  font-size: 16px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.9);
}

a.delete_x:link, a.delete_x:visited { color: #fff; text-decoration: none }
a.delete_x:hover, a.delete_x:active { color: #fff; text-decoration: none }

.delete_x:hover {
  font-size: 20px;
}

.okboard_form_write_new_post {
   float: left;
   padding: 5px;
   width: 650px;
   margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;
  //background: -moz-linear-gradient(top, white 10%, #000 90%);
  //background: -webkit-gradient(linear, left top, left bottom, from(#990), to(#066));
  -webkit-box-shadow:0px 0 20px #ccc;
  -moz-box-shadow:0px 0 20px #ccc; 
  box-shadow:0px 0 20px #ccc; 
  margin-left: 30px;
}

.form .group {
  margin: 15px;
}

.form label.label {
  display: block;
  padding: 2px;  
  font-weight: bold;
  color: #000;
}

.form input.text_field  {
  width: 100%;
  border-width: 2px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form input.text_field:hover {
  background: #eee; 
}

.form input.text_field {
  width: 100%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form div.left {
  width: 10%;
  float: left;
}
.form div.right {
  width: 85%;
  float: right;
}

.form span.description {
  display: block;
  color: #a0a0a0;
}

.form textarea.text_area {
  width: 90%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#okboard_table tr.odd {
  background: #f2F2f2;
  color: #000;
}

#okboard_table  tr.even {
  background: #e0e0e0;
  color: #000;
}

//#okboard_table tr:hover {
//  font-size: 15px;
//  padding-left: 5px;
//}

#okboard_table  tr a:link, tr a:visited { text-decoration: none }
#okboard_table  tr a:hover, tr a:active { text-decoration: none }

// Gallery
div.bigPicture {
    width: 510px;
    height: 351px;
    margin-left: auto;
    margin-right: auto;
}

.thumbBox {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

#proimg {
    border: 5px solid rgb(215, 215, 215);
    width: 500px;
    height: 333px;
}

.something {
  width: 510px;
  position:relative;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
  line-height: 20px;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
      margin-left: auto;
    margin-right: auto;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#slideshow #slidesContainer {
  margin:0;
  width:650px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
  overflow:auto; /* allow scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:630px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:100px;
}

.thumbBox #leftControl {
    width: 25px;
    height: 100px;
    margin: 0px 6px 0px 0px;
}

.thumbBox #rightControl {
    width: 25px;
    height: 100px;
}

.po {
    cursor: pointer;
}

.thumbBox .thumb {
    border: 5px solid rgb(215, 215, 215);
    margin: 0px 5px 0px 0px;
    height:100px;
}

p.post_deleted {
      position: relative;
  float: left;
  margin-top: 50px;
    font-size: 14px;
  font-family: 'NanumGothicBold';   
}

// Comment

div.new_comment {
  position: relative;
  float: left;
  width: 100%;
}

div.comment_row {
    position: relative;
  float: left;
    width: 100%;
}

div.new_comment_box {
  position: relative;
  float: left;
  margin-left: 30px;
  width: 100%;
}

div.comment_attr {
  position: relative;
  float: left;
  margin-left: 30px;
  text-align: top;
  color: #4479BA;
  font-size: 14px;
  font-family: 'NanumGothicBold';   
}

div.comment_likes {
  position: relative;
  float: right;
  right: 40px;
  height: 30px;
}

div.comment_reply {
  position: absolute;
  float: right;
  right: 20px;
  bottom: 0px;
}

div.commnet_user {
  position: absolute;
  left:0px;
  top:0px;
}

div.comment_list {
  position: relative;
  margin:5px;
  float: left;
  background-color:#642c78;
  width:100%;
  height:2px;
}

div.okboard_comment {
   position: relative;
  float: left; 
    margin-left: 20px;
}

div.comment {
  position: relative;
  border: 2px solid #e0e0e0;
  float: left;
  width: 100%;
  background-color: #fff;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.comment_content {
  position: relative;
  float:left;
  margin-left: 20px;
  width: 90%;
  background-color: #fff;
  border: 3px solid #e0e0e0;
}

div.comment_hidden_content {
  position: relative;
  float:left;
  margin-left: 30px;
  background-color: #c0c0c0;
}

div.comment_logo {
  position: relative;
  float:left;
  width:100%;
}

p.comment_title {
  position: absolute;
  top: -25px;
  right: 20px;
  font-family: 'NanumGothicExtraBold';   
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  width: 200px;
  background:#41A317;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}


// Mypage
.okboard_my_page_links {
  position: relative;
  float:left;
  margin-top: 30px;
}
