.ok_information {
  position: absolute;
  width: 320px;
  height: 300px;
}

.ok_information_link {
    text-decoration: none;
    padding: 1px 1px;
    background: #4444BA;
    color: #FFF;
    font-size: 13px;
    font-weight:bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.weather_information {
  position: relative;
  float:left;
  padding: 2px;
}

.rate_information {
  position: relative;
  float:left;
  padding: 2px;
}

.information_table {
  margin-left:auto;
  margin-right:auto;
  width:95%;
}

.weather_au_information_box {
  position: relative;
  float:left;
  width:100%;
  height:100%;
  z-index:10;
  -webkit-border-radius:10px;
  -moz-border-radius:10px; 
  border-radius:10px;
  background-color:#dadada;
}

.weather_kr_information_box {
  position: relative;
  float:left;
  width:100%;
  height:100%;
  z-index:10;
  -webkit-border-radius:10px;
  -moz-border-radius:10px; 
  border-radius:10px;
  background-color:#F3FFC9;
}

.rate_information_box {
  position: relative;
  float:left;
  width:100%;
  height:100%;
  z-index:10;
  -webkit-border-radius:10px;
  -moz-border-radius:10px; 
  border-radius:10px;
  background-color: #e0e0cb;
}


.information_box {
  position: relative;
  float:left;
  width:100%;
}

.information_window_control {
  position: relative;
  float:right;
  height:30px;
  width:100%;
}

td.city a {
  text-decoration: none;
  font-family: 'NanumGothicExtraBold';   
  color: #41A317;
  font-size: 13px;
}

p.title {
  font-size: 15px;
  font-family: 'NanumGothicExtraBold';   
}

div.kr_weather_forecast_view:hover span {
  visibility: visible;
}

div.kr_weather_forecast_view span {
  position: absolute;
  background-color: #e5e5e5;
  padding: 5px;
  border: 1px solid #666;
  visibility: hidden;
  color: black;
  text-decoration: none;
  z-index: 1;
  width: 500px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; 
  border-radius: 4px;
}
