// Sponsor
._widget {
  position: relative;
  float:left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 10 auto 15px;
  color: #000000;
  margin-bottom:10px;
  border: 2px solid #c0c0c0;  

}

._widget_head {
  position: relative;
  float:left;
  background-color:#7BA6B4;
  height:22px;
  font-size:15px;
}

._widget_body {
    background-color: #e5e5e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

._widget_head_window {
  position: relative;
  float: right;
  font-size: 17px;
  font-weight: bold;
  line-height: 15px;
}

._widget_head_window a {
  text-decoration: none;
}
