<p><%= @resource.name %> <%= t(:welcome_message)%>!</p>

<p><%= t(:confirmation_email_content) %></p>

<p><%= link_to t(:confirm_my_account), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
