<% if Okbrisbane::Application.config.ok_debug %> <title>QUEENSLAND PORTAL OKBRISBANE DEBUG</title>
<% else %>
<title>QUEENSLAND PORTAL OKBRISBANE</title>
<% end %>
<script type="text/javascript">var CKEDITOR_BASEPATH = '/assets/ckeditor/';</script>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
